@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Help about</h1>

<a href="/">Home</a> |
<a href="/Representante">Representante</a> |
<a href="/Representante/Help">Help</a>